  <div class="flex flex-col gap-5 w-full">
    <AskStreamWeb.CustomComponents.button href={~p"/dashboard"}>Login with Twitch</AskStreamWeb.CustomComponents.button>
    <AskStreamWeb.CustomComponents.button href={~p"/dashboard"}>Login with Kick</AskStreamWeb.CustomComponents.button>
    <AskStreamWeb.CustomComponents.button href={~p"/dashboard"}>Login with Youtube</AskStreamWeb.CustomComponents.button>
  </div>
